:root {
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --white-text-color: #FFFFFF;
    --black-text-color: #000000;
    --accent-text-color: #2196F3;
    --transparent-text-color: rgba(255, 255, 255, 0.6);
    --background-color1: #F5F4FA;
    --background-color2: #2F303A;
}

body {
    color: var(--primary-text-color);
    background-color: var(--white-text-color);

    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;

}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-top{
    padding-top: 94px;
}

.link {
    text-decoration: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.accent {
    color: var(--accent-text-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-nav-link.current{
    color: var(--accent-text-color);
}

/*-------------------Header-----------------*/
.header-flex{
    display: flex;
    align-items: center;
}

.header-logo {
    color: var(--black-text-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.03em;
}

.header-nav-list{
    display: flex;
    margin-left: 93px;
}


.header-nav-item:not(:last-child){
    margin-right: 50px;
}

.header-nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
}


.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--accent-text-color);
}

.header-address{
    display: flex;
    margin-left: auto;
}

.header-address-item:not(:last-child){
    margin-right: 30px;
}

.header-address-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--second-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
    color: var(--accent-text-color);
}

/*----------------------Footer---------------------------------*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color2);
}

.footer-flex{
    display: flex;
    align-items: baseline;
}

.footer-flex-left{
    margin-right: 70px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--white-text-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.03em;
}

.footer-address-text {
    margin-top: 0;
    margin-bottom: 9px;

    color: var(--white-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-address-link {
    display: block;

    color: var(--transparent-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-address-link:not(:last-child){
    margin-bottom: 9px;
}

.footer-text {
    margin-top: 0;
    margin-bottom: 20px;

    color: var(--white-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;

    text-transform: uppercase;
}

.footer-nav-list{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}


