.works{
  padding: 94px 215px
}


.works-button-list{
  display: flex;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;  
}

.works-button-item:not(:last-child){
  margin-right: 8px;
}

.works-button{
  background-color: var(--background-color1);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.works-button.current{
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
}

.works-list{
  display: flex;
  flex-wrap: wrap;
  margin: -13px;
}

.works-item{
  margin: 13px;
  width: 370px;

}

.works-article{
  border: 1px solid var(--background-article-color);  
}

.article-descrption{
  padding: 20px 24px;
}

.works-article-title{
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-article-text{
  color: var(--second-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
