:root{
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --white-text-color: #FFFFFF;
    --black-text-color:#000000;
    --accent-text-color: #2196F3;
    --transparent-text-color: rgba(255, 255, 255, 0.6);
    --background-color1:#F5F4FA;
    --background-color2: #2F303A;
}

body{
    color: var(--primary-text-color);
    background-color: var(--white-text-color);

    font-family: 'Roboto', sans-serif;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

.accent{
    color: var(--accent-text-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*-------------------Header-----------------*/
.header-logo{
    color: var(--black-text-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.03em;
}

.header-nav-link{
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
}

.header-nav-link:hover,
.header-nav-link:focus{
    color: var(--accent-text-color);
}

.header-address-link{
    color: var(--second-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus{
    color: var(--accent-text-color);
}

/*----------------------Hero-------------------------*/
.hero{
    background-color:  var(--second-text-color);
}

.hero-title{
    color: var(--white-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.hero-btn{
    color: var(--white-text-color);
    background-color: var(--accent-text-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    text-align: center;
}

/*----------------------Advantages-------------------------*/
.advantages-item-title{
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;

    text-transform: uppercase;
}

.advantages-item-text{
    color: var(--second-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*----------------------Classes----------------------------*/
.classes-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.03em;

    text-align: center;
}

/*----------------------Team---------------------------------*/
.team{
    background-color: var(--background-color1);
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.03;

    text-align: center;
}

.team-item-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03;

    text-align: center;
}

.team-item-text{
    color: var(--second-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03;

    text-align: center;
}

/*----------------------Clients---------------------------------*/
.clients-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.03;

    text-align: center;
}

/*----------------------Footer---------------------------------*/
.footer{
    background-color: var(--background-color2);
}

.footer-logo{
    color: var(--white-text-color);
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.03em;
}

.footer-address-text{
    color: var(--white-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03;
}

.footer-address-link{
    color: var(--transparent-text-color);
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03;
}

.footer-text{
    color: var(--white-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;

    text-transform: uppercase;
}


