

/*----------------------Hero-------------------------*/
.hero{
    text-align: center;
    background-color:  var(--second-text-color);
}

.hero-title{
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.hero-btn{
    display: inline-block;
    min-width: 216px;
    height: 50px;
    padding: 10px 32px;

    color: var(--white-text-color);
    background-color: var(--accent-text-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;

    text-align: center;
}

/*----------------------Advantages-------------------------*/
.advantages-item-title{
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-item-text{
    margin-top: 0;
    margin-bottom: 0;

    color: var(--second-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*----------------------Classes----------------------------*/
.classes-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.03em;

    text-align: center;
}

/*----------------------Team---------------------------------*/
.team{
    background-color: var(--background-color1);
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.03;

    text-align: center;
}

.team-item-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03;

    text-align: center;
}

.team-item-text{
    color: var(--second-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03;

    text-align: center;
}

/*----------------------Clients---------------------------------*/
.clients-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.03;

    text-align: center;
}

