

/*----------------------Hero-------------------------*/
.hero{
    text-align: center;
    background-color:  var(--second-text-color);
}

.hero-title{
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.hero-btn{
    display: inline-block;
    min-width: 216px;
    height: 50px;
    padding: 10px 32px;

    color: var(--white-text-color);
    background-color: var(--accent-text-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;

    text-align: center;
}

/*----------------------Advantages-------------------------*/
.advantages-list{
    display: flex;
}

.advantages-item:not(:last-child){
    margin-right: 30px;
}

.advantages-item-img{
    margin-bottom: 30px;
}

.advantages-item-title{
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-item-text{
    margin-top: 0;
    margin-bottom: 0;

    color: var(--second-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*----------------------Classes----------------------------*/
.classes-title{
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.03em;

    text-align: center;
}

.classes-list{
    display: flex;
}

.classes-item:not(:last-child){
    margin-right: 30px;
}

/*----------------------Team---------------------------------*/
.team{
    background-color: var(--background-color1);
}

.team-list{
    display: flex;
}

.team-item{
    background-color: var(--white-text-color);
}

.team-item:not(:last-child){
    margin-right: 30px;
}

.team-title{
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.03em;

    text-align: center;
}

.team-article{
    width: 270px;
}

.team-item-title{
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;

    text-align: center;
}

.team-item-text{
    margin-top: 0;
    margin-bottom: 16px;

    color: var(--second-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;

    text-align: center;
}

/*----------------------Clients---------------------------------*/
.clients-title{
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.03em;

    text-align: center;
}

.clients-list{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.clients-item:not(:last-child){
    margin-right: 30px;
}





